*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}

.navbar{
  background:#000;
  width:100vw;
  height:60px;
  position: fixed;
  
}
  
  .navbar a{
margin-left: 55px;
 color :white;
 line-height: 55px;
 text-decoration: none;
  font-family: monospace;
  font-size: 19px;
  text-align: center;
  }
  
  .navbar .open{
  font-size:28px;
}
  
  .picture{
    position: absolute;
   background:white;
   border-radius: 50%;
    left:65%;
    width:50px;
    height:50px;
    top:4%;
  }
  
  
  
  
  .sidebar{
  background:#000;
  width:0px;
  height:95vh;
  position: fixed;
  z-index: 9999;
}

.sidebar a{
 font-size:14px;
 color:white;
 display: block;
 text-align: center;
  font-family: monospace;
 text-decoration: none;
 overflow: hidden;
 line-height:80px;
}

.sidebar .close{
  font-size:23px;
  
}




.link:hover{
 background: orange;   
 color:white;   
font-weight:bold;
}


.link.visited {
 background:white;
 color:black;
}



.footer{
 background:#000;
  width:100vw;
  height:180px;
  position: fixed;

}

.copy{
 text-align: center;
 color:white;
 font-family: courier;
 line-height: 105px;
 font-size: 14px;
}

.logolink1{
position:absolute;
width:20px;
height:20px;
top: 10px;
background:white;
left: 40%;
border-radius:50%;
box-shadow: 0 0 8px royalblue;
}

.logolink2{
position:absolute;
width:20px;
height:20px;
top:10px;
background:white;
left: 55%;
border-radius:50%;
box-shadow: 0 0 8px royalblue;
}


.linkIcon{
width:90%;
height:90%;

}
@media screen and (min-width:769px){
.open{
  display:none;
 }
 
.navbar a{
margin-left: 95px;
}
 
}


@media screen and (max-width:768px){
.open{
  display:block;
 }
 

  .navbar .open{
  font-size:28px;
 margin-left: -70%;
} 
 
 
.link{
display:none;
color:red;
}

.navbar .picture{
 margin-left: -20%;
}

.footer{
 background:#000;
  width:100vw;
  height:180px;
  position: fixed;

}


.logolink1{
position:absolute;
width:20px;
height:20px;
top: 10px;
background:white;
left: 40%;
border-radius:50%;
box-shadow: 0 0 8px royalblue;
}

.logolink2{
position:absolute;
width:20px;
height:20px;
top:10px;
background:white;
left: 55%;
border-radius:50%;
box-shadow: 0 0 8px royalblue;
}


.linkIcon{
width:90%;
height:90%;

}


 
}
